.content {
  width: 95%;
  max-width: 60rem;
  margin: var(--size-8) auto;
  font-size: var(--size-5);
  line-height: var(--size-8);
  background-color: var(--color-grey-100);
  border-radius: 6px;
  padding: var(--size-4);
}

.content ul {
  list-style: none;
  padding-left: .2rem;
}

.bracket {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: var(--size-4);
}

.bracket span {
  text-align: left;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.totals {
  margin-top: 1.5rem;
  display: grid;
  grid-template-rows: 1fr .6rem .8fr;
  font-size: var(--size-4);
}

.totals li {
  display: grid;
  grid-template-columns: 2fr 1.25fr 1.5fr;
}

.totals li.hdr span {
  font-weight: bold;
}

.totals span {
  line-height: 1.1;
}

@media (min-width: 768px) {
  .bracket {
    font-size: var(--size-4);
  }

  .totals {
    font-size: var(--size-5);
  }
}
